<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
</head>
<body>
  <div id="forms">
    <form action="/add-ticker" method="POST">
      <label for="ticker">Enter ticker name to add: </label>
      <input id="ticker" name="ticker" type="text">
      <input type="submit" value="Add">
    </form>

    <form action="/remove-ticker" method="POST">
      <label for="ticker">Enter ticker name to remove: </label>
      <input id="ticker" name="ticker" type="text">
      <input type="submit" value="Remove">
    </form>

    <form action="/refresh" method="POST">
      <input type="submit" value="Refresh">
    </form>

    <form action="/clear" method="POST">
      <input type="submit" value="Clear">
    </form>
  </div>
  
  <div id="data-table">
    <table>
      <tr>

        {% for element in fundamental_labels %}
          <th>{{ element }}</th>           
        {% endfor %}
      </tr>

      {% for key in ticker_data %}
        <tr>
          <td id="key">{{ key }}</td>

          {% for element in ticker_data[key] %}
            <td>{{ element }}</td>
          {% endfor %}
          
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>