<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
  <div id="add-ticker">
    <form action="/add-ticker" method="POST">
      <label for="ticker">Enter ticker name to add: </label>
      <input id="ticker" name="ticker" type="text">
      <input type="submit" value="Submit">
    </form>
  </div>
    
</body>
</html>