<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
  <div id="add-ticker">
    <form action="/add-ticker" method="POST">
      <label for="ticker">Enter ticker name to add: </label>
      <input id="ticker" name="ticker" type="text">
      <input type="submit" value="Submit">
    </form>
  </div>
  
  <div id="data-table">
    <table>
      <tr>
        <th>Ticker</th>
        <th>Last Price</th>
        <th>Fair Value</th>
        <th>Uncertainty</th>
        <th>1-Star Price</th>
        <th>5-Star Price</th>
        <th>Economic Moat</th>
        <th>Capital Allocation</th>
        <th>Controversy Level</th>
        <th>Top Material ESG Issue (Overall)</th>
        <th>Investment Style</th>
        <th>Sector</th>
        <th>Industry</th>
        <th>Day Range</th>
        <th>Year Range</th>
        <th>Market Cap</th>
        <th>Volume/Avg</th>
        <th>Price/Sales</th>
        <th>Price/Book</th>
        <th>Price/Earnings</th>
        <th>Forward Div Yield</th>
        <th>Trailing Div Yield</th>
      </tr>

      {% for key in ticker_data %}
        <tr>
          <td>{{ key }}</td>

          {% for element in ticker_data[key] %}
            <td>{{ element }}</td>
          {% endfor %}
          
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>